*.dat
*.db
*.hmap
*.DS_Store
*.keep
*.keep.*
#*.a
xcuserdata/
build/
project.xcworkspace/
Kernel/IPhone/Library/MicroStrategyMobileSDK.framework/Headers/
*.pbxuser
*.perspectivev3
*.mode1v3
conspecs/
Yati/
#*.txt
*.bak
.idea/
*.pyc
.copyarea.db
*.contrib*
.copyarea.lck
*.class
*.egg
